VITE_APP_NAME=Casa Clara
VITE_APP_AUTHOR=Rafael Varela
VITE_APP_DESCRIPTION=Controle Financeiro para Casais

# Publicacao manual em:
# https://rafaelvarela.com.br/casaclara/
VITE_BASE_PATH=/casaclara/
VITE_API_URL=/casaclara/api
